*{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background-color: black;
    display :flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    text-decoration: underline;
   }
button:hover{
    background-color: #BB945F;
}
.container{
    width: 1440px;
}
.headerselection{
    height: 90px;
    display :flex;
    align-items: center; 
    justify-content: space-between;
}
.h11{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}
li{
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
}
.slevasprava{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.sectionBook{
    background:linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(imgg/pupa.jpg);
    display: flex;
    justify-content: center;
    height: 600px;
    background-size: 100%;
    background-position: center center;
    width: 100%;
}
.block{
    margin-top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    flex-shrink: 0;
    display: flex;
}
.blocktext{
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    line-height: 50px;
}
.about{

}
.TextAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.HAbout{ 
    margin-top: 20px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.tire{
    margin-top: 20px;
    background: #0C0C0E;
    width: 50px;
    height: 1px;
}
.PAbout{
    margin-top: 20px;
    color: #000;        
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;  
}
.carusel{
}
.slide1{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.circle {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.c1{
    margin-right: 5px;
    width: 16px; 
    height: 16px;
    background:#BB945F;
    border-radius: 50%;
}
.c2{
    margin-right: 5px;
    width: 16px; 
    height: 16px;
    background:#000000;
    border-radius: 50%;
}
.favSeasP{
    margin-top: 60px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.favSeas{
    margin-top: 40px;
    width: 720px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="radio"] {
    margin-right: 10px;
}
.firstsecond{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.board{
    margin-top: 40px;
    width: 550px;
    height:  555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    border-radius: 1px;
}
.boardimg{
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 360px;
    margin-top: -350px
}
.boardimg2{
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 360px;
    margin-top: -350px

}
.boardimg3{
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 365px;
    margin-top: -350px
}
.buy{
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #000000;
    color: #000000;
    margin-left: 20px;
    margin-top: -10px;
}
.buy2{
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #000000;
    color: #000000;
    margin-left: 20px;
    margin-top: 75px;
}
.buy3{
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #ff9500;
    margin-left: 20px;
    margin-top: 115px;
}
.boardP{
    margin-left: 20px;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.tire2{
    margin-top: 0px;
    margin-left: 20px;
    background: #BB945F;
    width: 50px;
    height: 1px;
}
.Eaters{
    margin-top: 20px;
    margin-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-size: 15px;
    line-height: 40px; /* 266.667% */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
pre{
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.cofeshop{
    row-gap: 20px;
}
.coffeP{
    margin-top: 60px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coffePre{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.coffemenu{
    display: flex;
    justify-content: space-between;
}
.columncofee{
    row-gap: 20px;
}
.menu1 h3{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.columncoffeepre{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}
.tiremenu{
    margin-top: 20px;
    width: 100px;
    height: 1px;
    background: #BB945F;
}
.menu{
    align-items: center;
    display: flex;
    gap: 40px;
}
.menu p{
    margin-top: 20px;
    font-family: Forum;
}
.menu pre{
    width: 140px;
}
.menu2 h3{
    margin-left: 35px;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.menu2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contactstart p{
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contactstart{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Pp{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.Ppp{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.Ppprow{
    display: flex;
    flex-direction: row;
}
.marginn{
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
}
.Ppz{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.rovno{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 414px;
}
.columnn{
    display: flex;
    flex-direction: column;
}
