*{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
.header{
    background-color: black;
    display :flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    text-decoration: underline;
   }
.container{
    width: 1440px;
}
.headerselection{
    height: 90px;
    display :flex;
    align-items: center; 
    justify-content: space-between;
}
.h11{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}
li{
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
}
.slevasprava{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.sectionBook{
    background:linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(imgg/pupa.jpg);
    display: flex;
    height: 600px;
    background-size: 100%;
    background-position: center center;
}
.block{
    margin-top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    flex-shrink: 0;
    display: flex;
}
.blocktext{
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    line-height: 50px;
}